<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Not Found</title>
</head>
<body>
	<h1 style="text-align: center;color:red">This Student Id already exist in Database</h1>
	<div style="text-align: center;padding: 5px 5px;border: 2px solid black;border-radius: 50px">
<h2>Click bleow button to go back to home page</h2>
<a href="http://localhost:8081/welcome">
<input type="submit" value="Home Page">
</a>
</div>
<h4 style="text-align: center">
	By Monish</h4>
</body>
</html>