<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>EnterData</title>
	<style>
div {text-align: center;background-color:powderblue;padding: 25px 50px;border: 2px solid black;border-radius: 50px}
h4{text-align: center}
</style>
</head>
<body>
<div >
	<h1>Please Enter Details to Update</h1>
	<form method="post" action="updatestudent">
	Enter Student Id :
	<input type="text" name="id"><br>
	Enter Student Name :
	<input type="text" name="name"><br>
	Enter Student Grade :
	<input type="text" name="grade"><br>
	Check to confirm above details :
	<input type="checkbox"><br>
	<input type="submit" value="update data">
	</form>
	
	</div>
	<h4>
	By Monish</h4>
</body>
</html>